@import "../Imports/_globals.scss";

.content {
  box-sizing: border-box;

  &__container {
    display: flex;
    min-height: calc(100vh - 75px);
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    position: relative;

    @include media(">=medium") {
      min-height: unset;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @include media(">=large") {
      align-items: center;
      min-height: calc(100vh - 90px);
    }

    &--opened {
      display: flex;
    }
  }

  &__controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out flex-basis;
    width: 100%;

    &--handled {
      @include media("<medium") {
        display: none;
      }
    }

    @include media(">=medium", "<large") {
      flex: 0 0 40%;
      align-items: unset;
      justify-content: unset;

      &:only-child {
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
      }
    }

    @include media(">=large") {
      justify-content: unset;
      flex: 0 0 60%;
      padding-right: 5%;
      box-sizing: border-box;

      &:only-child {
        flex-basis: 100%;
      }
    }
  }

  &__wrap {
    position: relative;
    width: 100%;
    max-width: 548px;
  }

  &__map {
    fill: $blue;
    max-width: 100%;

    svg {
      max-height: 55vh;
    }

    path {
      cursor: pointer;
      transition: 0.1s ease-in-out fill;

      &:hover {
        fill: $blue2;
      }
    }
  }

  &__title {
    color: $blue;
    font-size: 3rem;
    font-weight: 200;
    margin-top: 5rem;
    text-align: center;

    @include media(">=medium") {
      margin-top: 3rem;
    }

    @include media(">=large") {
      font-size: 4rem;
      margin-top: 4rem;
    }
  }

  &__side-bar {
    width: 100%;
    @include media(">=medium") {
      flex: 0 0 60%;
      margin-left: 5%;
      width: unset;
    }

    @include media(">=large") {
      flex: 0 0 40%;
      margin-left: unset;
    }

    &--centered {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__point {
    position: absolute;
    transform: translate(-50%, 0);
    color: $light;
    font-size: 5rem;
    text-shadow: 0 -5px 11px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 2px $blue2;
  }
}
