.forecast {
  background: $blue;
  padding: 3rem 0 3rem 0;
  color: $light;

  @include media(">=large") {
    padding: 4rem 0 5rem 0;
  }

  &__wrapper {
    max-width: 1387px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;

    @include media(">=medium") {
      padding: 0 35px;
    }
  }

  &__title {
    font-size: 2.4rem;
    margin-top: 0;
    font-weight: 100;

    @include media(">=large") {
      font-size: 2.9rem;
    }
  }

  &__container {
    margin-top: 2.5rem;
    width: calc(100% + (20px * 2));
    margin-right: -20px;
    margin-left: -20px;

    @include media(">=large") {
      margin-top: 3.5rem;
      width: calc(100% + (35px * 2));
      margin-left: -35px;
      margin-right: -35px;
    }

    @include media(">=xxl") {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    :global(.swiper-slide) {
      max-width: 238px;
      box-sizing: border-box;
    }

    :global(.swiper-slide:first-child) {
      max-width: 258px;
      padding-left: 20px;

      @include media(">=large") {
        max-width: 273px;
        padding-left: 35px;
      }

      @include media(">=xxl") {
        max-width: 238px;
        padding-left: 0;
      }
    }

    :global(.swiper-slide:last-child) {
      max-width: 258px;
      padding-right: 20px;

      @include media(">=large") {
        max-width: 273px;
        padding-right: 35px;
      }

      @include media(">=xxl") {
        max-width: 238px;
        padding-right: 0;
      }
    }
  }

  &__item {
    background-color: $light;
    color: $dark;
    display: flex;
    flex-direction: column;
    min-height: 320px;
    border-radius: 8px;
    padding: 2.3rem 2.5rem;

    &-heading {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.2;

      span {
        font-weight: 400;
      }
    }

    &-weather-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: $green;
      margin: auto 0;

      i {
        flex: 0 0 auto;
        font-size: 3.8rem;
        margin-right: 1.8rem;
      }
    }

    &-temperature {
      color: $green;
      font-size: 4.5rem;
      font-weight: 800;
      flex: 0 0 auto;
      line-height: 1;

      sup {
        font-size: 2rem;
        font-weight: 200;
        top: -2rem;
        left: -0.5rem;
      }
    }

    &-description {
      margin-top: 1.2rem;
      font-size: 2.1rem;
      flex: 0 0 100%;
      text-align: center;
      line-height: 1.4;
    }

    &-stats {
      display: flex;
      justify-content: space-around;
      color: $dark;
      &-row {
        display: inline-flex;
        align-items: center;
        font-size: 1.3rem;

        i {
          font-size: 1.8rem;
          margin-right: 0.7rem;
        }
      }
    }
  }
}
