.icon {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.regular-cloud:before {
  content: "\e92e";
}

.arrow-left:before {
  content: "\e92d";
}
.point:before {
  content: "\e92b";
}
.location:before {
  content: "\e92c";
}

.hail:before {
  content: "\e908";
}
.hail-moon:before {
  content: "\e909";
}
.hail-sun:before {
  content: "\e90a";
}
.moon:before {
  content: "\e90b";
}
.rain-heavy:before {
  content: "\e90c";
}
.rain-heavy-moon:before {
  content: "\e90d";
}
.rain-heavy-sun:before {
  content: "\e90e";
}
.rain-light:before {
  content: "\e90f";
}
.rain-light-moon:before {
  content: "\e910";
}
.rain-light-sun:before {
  content: "\e911";
}
.rain-medium:before {
  content: "\e912";
}
.rain-medium-moon:before {
  content: "\e913";
}
.rain-medium-sun:before {
  content: "\e914";
}
.snow-one:before {
  content: "\e915";
}
.snow-one-moon:before {
  content: "\e916";
}
.snow-one-sun:before {
  content: "\e917";
}
.snow-two:before {
  content: "\e918";
}
.snow-two-moon:before {
  content: "\e919";
}
.snow-two-sun:before {
  content: "\e91a";
}
.sun:before {
  content: "\e91b";
}
.thunder:before {
  content: "\e91c";
}
.thunder-moon:before {
  content: "\e91d";
}
.thunder-sun:before {
  content: "\e91e";
}
.Wind:before {
  content: "\e91f";
}
.wind-moon:before {
  content: "\e920";
}
.wind-sun:before {
  content: "\e921";
}
.winterymix:before {
  content: "\e922";
}
.wintery-mix-moon:before {
  content: "\e923";
}
.wintery-mix-sun:before {
  content: "\e924";
}
.cloud-two:before {
  content: "\e925";
}
.cloud-moon:before {
  content: "\e926";
}
.cloud-sun:before {
  content: "\e927";
}
.fog:before {
  content: "\e928";
}
.fog-moon:before {
  content: "\e929";
}
.fog-sun:before {
  content: "\e92a";
}
.cloud:before {
  content: "\e900";
}
.github:before {
  content: "\e901";
}
.next-weather:before {
  content: "\e902";
}
.pressure:before {
  content: "\e903";
}
.rain:before {
  content: "\e904";
}
.visibility:before {
  content: "\e905";
}
.weather:before {
  content: "\e906";
}
.wind:before {
  content: "\e907";
}
