@import "../Imports/_globals.scss";

.weather {
  &__header {
    h1 {
      font-size: 2.5rem;
      font-weight: 200;
      line-height: 2rem;

      @include media(">=large") {
        font-size: 3rem;
      }
    }

    b {
      font-weight: 600;
      font-size: 3rem;

      @include media(">=large") {
        font-size: 3.5rem;
      }
    }

    p {
      font-weight: 100;
      font-size: 2rem;
      line-height: 2rem;

      @include media(">=large") {
        font-size: 2.4rem;
      }
    }
  }

  &__row {
    display: flex;
    color: $green;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include media(">=large") {
      font-size: 2.4rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }

    @include media(">=xxl") {
      flex-wrap: nowrap;
      justify-content: right;
    }

    i {
      font-size: 5rem;
      margin-right: 1.5rem;

      @include media(">=large") {
        font-size: 6.5rem;
        margin-right: 2rem;
      }
    }
  }

  &__temperature {
    font-size: 6rem;
    font-weight: 600;
    flex: 0 1 auto;

    @include media(">=large") {
      font-size: 7rem;
    }

    sup {
      font-size: 2.3rem;
      font-weight: 200;
      top: -3rem;

      @include media(">=large") {
        font-size: 2.7rem;
      }
    }
  }

  &__description {
    font-size: 2rem;
    font-weight: 300;
    flex: 1 1 auto;
    box-sizing: border-box;
    flex-basis: 100%;

    @include media(">=large") {
      font-size: 3rem;
    }

    @include media(">=xxl") {
      flex-basis: auto;
      padding-left: 6%;
    }
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.5rem;
    &-row {
      display: inline-flex;
      align-items: center;
      flex: 0 0 100%;
      line-height: 3rem;

      @include media(">=large") {
        flex: 0 0 50%;
        line-height: 3.5rem;

        &:nth-child(3) {
          i {
            font-size: 1.7rem;
          }
        }
      }
    }

    &-label-with-icon {
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      font-size: 1.4rem;

      @include media(">=large") {
        font-size: 1.6rem;
      }

      i {
        font-size: 2.3rem;
        margin-right: 0.9rem;
        min-width: 23px;

        @include media(">=large") {
          font-size: 2rem;
          margin-right: 0.6rem;
        }
      }
    }

    &-data {
      font-weight: 200;
      font-size: 1.6rem;
    }
  }

  &__data-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-width: 335px;

    @include media(">=large") {
      flex-wrap: nowrap;
      max-width: unset;
    }
  }

  &__chart {
    box-sizing: border-box;
    padding: 1.5rem 2rem;
    background-color: $light;
    border-radius: 7px;
    max-width: 100%;

    @include media(">=large") {
      width: 75%;
      padding: 2rem 3rem;
    }
  }
}
